@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --light-txtcolor: #2a2a2a;
  --light-pribg: #fafafa;
  --light-secbg: #f2f2f2;
  --light-bottxtbg: #d9d9d9;
  --light-usertxtbg: #c4c4c4;
  --light-greycardbg: #e5e5e5;
  --light-grayborder: #cccccc;
  --light-darktoneshadow: #b3b3b3;
  --light-mainhead: #181818;
  --light-sectxt: #4f4f4f;
  --light-terttxt: #666666;
  --light-placeholder: #696969;
  --light-cta: #ffffff;
  --top-right:#eaeaea;

  /* --dark-txtcolor: #fafafa;
  --dark-pribg: #1b1b1b;
  --dark-secbg: #232323;
  --dark-bottxtbg: #2a2a2a;
  --dark-usertxtbg: #3a3a3a;
  --dark-greycardbg: #2e2e2e;
  --dark-grayborder: #3c3c3c;
  --dark-darktoneshadow: #666666;
  --dark-mainhead: #eaeaea;
  --dark-sectxt: #b0b0b0;
  --dark-terttxt: #8c8c8c;
  --dark-placeholder: #d2d2d2;
  --dark-cta: #1a1a1a; */
}

/* :root {
  --lightbg: #eaeaea;
  --logocolor: #121212;
  --navcolor: #121212;
  --headingcolor: #ffffff;
  --desccolor: #b8b8b8;
  --footerbg: #dcdcdc;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk";
}
html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 2s;
}

/* Hero Page Start */
#hero {
  /* background-color: var(--dark-pribg); */
  background-color: var(--light-pribg);
  /* color: var(--dark-txtcolor); */
  color: var(--light-txtcolor);
}

#navbar {
  min-width: auto;
  height: 15vh;
  margin: 0 2.5em;
  padding: 0 2em;
  /* background-color: #55045b; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: auto 5em;
  position: relative;
  /* gap:20em; */
}
#main-logo {
  font-family: "Kanit";
  text-align: left;
  font-size: 3.5em;
  font-weight: 900;
  /* color: var(--dark-mainhead); */
}
#main-logo a{
  color: var(--light-mainhead);
  font-weight: 700;

}
#nav-page {
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--dark-sectxt); */
  color: var(--light-sectxt);
  gap: 2em;
  font-weight: 500;
}
#right-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5em;
}

/* Toggle Btn */

#toggle {
  height: 2.5em;
  width: 5em;
  border-radius: 50px;
  position: relative;
  background-color: #eaeaea;
  cursor: pointer;
  transition: all 1s;
  /* display: block; */
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.2);
}
input[type="checkbox"] {
  display: none;
}

.circle {
  position: absolute;
  background-color: #1c1b1b;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50px;
  margin: 3px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login {
  height: 3em;
  width: 6em;
  overflow: hidden;
  border-radius: 3em;
  background-color: var(--top-right);
  color: var(--light-sectxt);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 0.5em;
  padding: 0.6em;
}
#profile svg {
  color: rgb(79, 79, 79);
  height: 2.5em;
}
#menug {
  width: 10em;
  height: 6em;
  background-color: #d0d0d0;
  position: absolute;
  right: 0.5em;
  top: 5.5em;
  z-index: 10;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2em;
  transform: translateY(-0.75rem);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s, opacity 0.4s;
}
.show-menu {
  transform: translateY(0);
  opacity: 1;
  pointer-events: initial;
}
#menug::after {
  content: "";
  /* z-index: 11; */
  border-radius: 0.1em;
  width: 1em;
  height: 1em;
  position: absolute;
  transform: rotate(-45deg);
  top: -8px;
  left: 0;
  right: 0;
  margin-inline: auto;
  background-color: #d0d0d0;
}
.menu {
  width: 80%;
  /* height: 25%; */
  padding: 0.4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  /* justify-content: center; */
  background-color: #979494;
  color: #121212;
  border-radius: 5px;
  transition: all 0.4s;
}
.menu:hover {
  background-color: #817f7f;
}

/* Main Pages */

#hero-img {
  background-image: url("./Img/Background2.png");
  object-fit: cover;
  background-position: center;
  width: auto;
  height: 80vh;
  margin: 0 2.5em;
  /* background: #5d2505; */
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.2em;
}
#hero-title {
  font-family: "Kanit";
  font-weight: 500;
  font-size: 3em;
  max-width: 20em;
  line-height: 1em;
  color: #c4c4c4;
}
#hero-desc {
  font-family: "Kanit";
  font-size: 1.5em;
  font-weight: 100;
  /* color: var(--dark-sectxt); */
  color: #b0b0b0;
  max-width: 800px;
}
#hero-cta {
  font-family: "Kanit";
  padding: 0.25em;
  padding-left: 1em;
  font-size: 1em;
  margin-top: 2em;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: #ff3d5d;
  color: white;
}
#cta-arrow {
  aspect-ratio: 1/1;
  height: 4em;
  width: 4em;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
#cta-arrow svg {
  height: 2em;
  /* padding: 1.5em; */
  font-size: 1em;
  background-color: transparent;
  color: black;
}

/* Page 2 onward */

.page {
  height: 100vh;
  width: 100%;
  /* background-color: var(--dark-pribg); */
  background-color: var(--light-pribg);
  /* border:2px solid white; */
}
#page2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#feature-heading {
  /* color: var(--dark-mainhead); */
  color: var(--light-mainhead);
  font-size: 3.2em;
  font-weight: bold;
  text-align: center;
}

#feature-box {
  height: 85vh;
  width: 90vw;
  /* background-color: var(--dark-secbg); */
  background-color: var(--light-secbg);
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border:0.5px solid white;  */
  gap: 4em;
}

#feature-container {
  width: 70vw;
  height: auto;
  /* background-color: #bababa61; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0.5em;
  /* gap:1em; */
}
.feature {
  /* border:0.5px solid white;  */
  width: 20em;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2em;
  font-size: 1.5em;
}
.feature .card {
  aspect-ratio: 1/1;
  width: 45%;
  border: 1px solid;
  border-radius: 1.5em;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature:nth-child(1) {
  color: #973D0A;
  text-align: center;
}
.feature:nth-child(2) {
  color: #880F90;
  text-align: center;
}
.feature:nth-child(3) {
  text-align: center;
  color: #047704;
}
#card1 {
  background-color: #fff9b5;
}
#card2 {
  background-color: #eab7db;
}
#card3 {
  background-color: #daf5d4;
}

.card img {
  height: 60%;
  aspect-ratio: 1/1;
}

/* Next Page */
#page3 {
  height: 20%;
  display: flex;
  align-items: center;
}
#tech {
  /* margin-top: 2em; */
  width: 100%;
  height: 10%;
  background-color: var(--dark-bottxtbg);
  background-color: var(--light-secbg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10em;
  padding: 3em;
}
/* #tech{
  font-size: 3em;
  color: var(--dark-usertxtbg);
  color: var(--light-usertxtbg);
} */
#tech svg {
  width: 3em;
}
#tech svg path {
  color: var(--light-terttxt);
  stroke-width: 1.75;
}
/* New Page */

#page5 {
  width: 100%;
  height: 50%;
  background-color: var(--dark-secbg);
  background-color: var(--light-secbg);
  color: var(--dark-sectxt);
  color: var(--light-txtcolor);
}
#trynow {
  width: 100%;
  height: 85%;
}
#copyright {
  height: 15%;
  width: 100%;
  background-color: var(--dark-secbg);
  background-color: var(--light-secbg);
  border-top: 1px solid var(--light-sectxt);
  display: flex;
  align-items: center;
  justify-content: center;
}
#copyright h3 {
  font-size: 1em;
  text-align: center;
}
a {
  text-decoration: none;
  color: var(--dark-sectxt);
  color: var(--light-sectxt);
}
#trynow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 9em;
}
#bottomlogo {
  /* border: 0.1px dashed; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  height: 60%;
}
#btmlogo {
  font-size: 5em;
}
#btmnav {
  font-size: 1em;
  font-weight: 100;
  transform: translateX(-2.2em);
}

#socials {
  /* border: 0.1px dashed; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  width: 25%;
  height: 60%;
  font-size: 0.75em;
}
.social-icon {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 3em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 1.5em 0.75em;
  font-size: 0.25em;
}
.social-icon svg {
  width: 10em;
}

/* New page */

#page4 {
  position: relative;
  height: 100vh;
}
#magic-text {
  width: 100%;
  height: 100%;
  color: var(--light-mainhead);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3em;
  text-align: center;
}
#magic-text h1 {
  font-size: 5em;
  z-index: 1;
  line-height: 1em;
}
#magic-text #try-btn {
  color: var(--light-sectxt);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  padding: 0.2em;
  padding-left: 1em;
  gap: 0.75em;
  border-radius: 50px;
  border: 1.5px solid var(--light-sectxt);
}
#magic-text #try-btn svg{
  height: 3.5em;
  width: 3.5em;
}
#magic-text #try-btn svg path {
  z-index: 1;
  fill: var(--light-sectxt);
}

#magicstar {
  position: absolute;
  z-index: 0;
  top: 15%;
  left: 5%;
}
#magicstar svg {
  width: 18em;

}
#magicstar svg path {
  stroke-width: 0.75; 
  stroke: var(--light-mainhead);
  /* stroke-width: 0.2; */
}
#magicwand {
  position: absolute;
  bottom: 20%;
  right: 15%;
  z-index: 0;
}
#magicwand svg {
  width: 18em;
}
#magicwand svg path {
  stroke-width: 0.75;
  /* stroke-width: 0.2; */
  stroke: var(--light-mainhead);
}

/* page 3.5 (swiper js css )*/

#page3-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #eaeaea; */
}
#page3-5 .contributors {
  font-size: 3em;
  color: var(--light-mainhead);
}
.myswiper {
  max-width: 70vw;
  width: 100%;
  padding: 2.5em 0;
  height: 70vh;
}

.container {
  margin: 0 40px;
  overflow: hidden;
  position: relative;
}

.swiper-slide {
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  border-radius: 25px;
}

.swiper-slide .box {
  height: 550px;
  width: 450px;
  background: #fff;
  flex-direction: column;
  border-radius: 25px;
}

.box .img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.box .info {
  font-size: 0em;
  position: absolute;
  bottom: 6%;
  left: 6%;
}
.swiper-button-next,
.swiper-button-prev {
  color: #868686;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  padding: 1em;
}

.swiper-button-prev::after {
  left: -1.2em;
}

.swiper-button-next::after {
  right: -1.2em;
}
.swiper-slide:not(.swiper-slide-active) {
  transform: scale(0.9);
}

.swiper-slide-active {
  transform: scale(1);
  z-index: 1;
}
.swiper-pagination-bullet {
  background: #b3b3b3;
}
.swiper-pagination-bullet-active {
  background: #838383;
}
