@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --light-txtcolor: #2a2a2a;
  --light-pribg: #fafafa;
  --light-secbg: #f2f2f2;
  --light-bottxtbg: #d9d9d9;
  --light-usertxtbg: #c4c4c4;
  --light-greycardbg: #e5e5e5;
  --light-grayborder: #cccccc;
  --light-darktoneshadow: #b3b3b3;
  --light-mainhead: #333333;
  --light-sectxt: #4f4f4f;
  --light-terttxt: #666666;
  --light-placeholder: #696969;
  --light-cta: #1a1a1a;

  --dark-txtcolor: #fafafa;
  --dark-pribg: #1b1b1b;
  --dark-secbg: #232323;
  --dark-bottxtbg: #2a2a2a;
  --dark-usertxtbg: #3a3a3a;
  --dark-greycardbg: #2e2e2e;
  --dark-grayborder: #3c3c3c;
  --dark-darktoneshadow: #666666;
  --dark-mainhead: #eaeaea;
  --dark-sectxt: #b0b0b0;
  --dark-terttxt: #8c8c8c;
  --dark-placeholder: #949494b4;
  --dark-cta: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
/* Paragraph spacing */
p {
  margin: 1em 0;
}

/* Lists */
ul,
ol {
  margin: 1em 0;
  padding-left: 1.5em;
}

li {
  margin-bottom: 0.5em;
}

/* Task lists */

ul.task-list {
  list-style: none;
  padding-left: 0;
}

ul.task-list li {
  display: flex;
  align-items: center;
}

ul.task-list li input[type="checkbox"] {
  margin-right: 0.5em;
}

/* Emphasis */
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}

/* Links */
a {
  color: #0a5199;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

th,
td {
  padding: 0.75em;
  border: 1px solid;
  text-align: left;
}

th {
  font-weight: bold;
}

/* Horizontal rule */
hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 1.5em 0;
}

/* Headings */
/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
} */

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.875em;
}

/* Blockquote */
blockquote {
  margin: 1.5em 0;
  padding: 0.5em 1em;
  /* background-color: #f1f1f1; */
  border: 0.5px solid;
  border-left: 5px solid #919191;
  border-radius: 0.5em;
}

/* Inline code */
code {
  margin-top: 1.2em;
  border-radius: 0.6em;
  /* color: #2e2e2e; */
  color: #d63384;
  font-weight: 500;
}

/* Code block */
pre {
  padding: 0.8em 0.4em 0.4em 0.4em;
  position: relative;
  background-color: #2e2e2e;
  border-radius: 1em;
  font-size: 1em;
  margin: 0.5em;
  overflow-x: auto;
  white-space: pre;
  overflow: visible;
}

/* Ensuring inline code styles inside pre are consistent */
pre code {
  color: inherit;
  background-color: transparent;
  padding: 0;
}

body {
  /* color: var(--light-txtcolor); */
  color: var(--dark-txtcolor);
  /* background: var(--light-pribg); */
  background: var(--dark-pribg);
}

nav {
  min-height: 10vh;
  display: flex;
  font-size: 1.5em;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 10%;
  position: relative;
}
nav h1 {
  font-weight: 900;
}
#logo a{
  text-decoration: none;
  color: var(--dark-mainhead);
}

.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.right-nav .contact-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5em;
  padding: 0.5rem;
  font-size: 1rem;
  border: 0.5px solid black;
  border-radius: 2rem;
  color: white;
  background-color: #060606;
  padding-left: 1rem;
}
.contact-btn button {
  border: 0.5px solid black;
  padding: 1rem 1.3rem;
  border-radius: 2rem;
}

.right-nav > .contact-btn span {
  border: 0.5px solid black;
  padding: 0.2rem;
  border-radius: 2rem;
  background-color: white;
  color: #060606;
  font-size: 2em;
  cursor: pointer;
  user-select: none;
}
.right-nav span {
  color: #ffffff;
  background-color: #060606;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1.2em;
  cursor: pointer;
  user-select: none;
}

.wrapper {
  width: 80%; /*95%*/
  height: 84vh;
  /* border: 0.001px solid var(--light-grayborder); */
  border: 0.001px solid var(--dark-grayborder);
  border-radius: 2rem;
  margin: auto;
  /* margin-top: 0.1rem; */
  position: relative;
  /* background-color: var(--light-secbg); */
  background-color: var(--dark-secbg);
  overflow: hidden;
}
.greet.hide {
  display: none;
}
.greet {
  font-size: 2em;
  font-weight: 1000;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  max-width: 80%;
  margin: 6vh auto;
  background: linear-gradient(120deg, #870000, #190a05);
  background-clip: text;
  line-height: 1.2em;
  color: transparent;
}
.chats {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 10vh;
  padding: 2rem;
  overflow-y: auto;
}
/* Promp input styling starts */

.input-wrapper {
  /* background-color: var(--light-grayborder); */
  background-color: var(--dark-grayborder);
  position: absolute;
  bottom: 2vh;
  left: 50%;
  min-width: 40%;
  transform: translateX(-50%);
  border-radius: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  display: flex;
  align-items: flex-end;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.06); */
  /* Layered Depth Shadow - dark mode*/
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.input-wrapper textarea {
  /* background-color: var(--light-greycardbg); */
  background-color: var(--dark-greycardbg);
  padding: 0.5rem 1rem 0.4rem 1rem;
  border: transparent;
  color: var(--dark-txtcolor);
  resize: none;
  font-size: 1.3em;
  width: 100%;
  max-height: 20vh;
  border-radius: 1.5rem;
  scrollbar-color: #999 transparent;
  scrollbar-width: none;
  /* caret-color: var(--light-placeholder); */
  caret-color: var(--dark-placeholder);
}
.input-wrapper textarea:focus {
  outline: none;
}
.input-wrapper textarea::placeholder {
  /* color: var(--light-placeholder); */
  color: var(--dark-placeholder);
}
.input-wrapper button {
  bottom: 1rem;
  padding: 1rem;
  font-size: 1.7em;
  border-radius: 2rem;
  border:0.5px solid black;
  color: #111;
  /* background-color: var(--light-cta); */
  background-color: var(--dark-cta);
  cursor: pointer;
  user-select: none;
}
.input-wrapper button:hover {
  scale: 1.01;
}

/* Old Message but correct*/

.botmsg {
  align-self: flex-start;
  width: min(80%, 100%);
  max-width: 90%;
}
.usermsg {
  align-self: flex-end;
  max-width: 90%;
}

.botmsg p {
  display: inline-block;
  padding: 0.5rem;
  /* background-color: var(--light-bottxtbg); */
  background-color: var(--dark-bottxtbg);
  border-radius: 1.3rem;
  border-top-left-radius: 0;
  word-wrap: break-word;
}
.usermsg p {
  display: inline-block;
  min-width: 5rem;
  padding: 1rem;
  /* background-color: var(--light-usertxtbg); */
  background-color: var(--dark-usertxtbg);
  border-radius: 1.3rem;
  border-bottom-right-radius: 0;
  white-space: pre;
}

/* .botmsg p {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #333;
  width: 0;
  animation: typing 4s steps(40) 1s 1 normal both,
    blink-caret 0.75s step-end infinite;
} */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} 
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

/* Style for the language label */
.code-language-label {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 0.875em;
  color: #bcbcbc;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  position: absolute;
  top: 0.5em;
  left: 0.8em;
}

/* Style for the copy button */

.code-copy-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #bcbcbc;
  position: absolute;
  right: 0.8em;
  top: 0.4em;
  font-size: 1em;
}
.code-copy-btn i {
  font-size: 1.2em;
}
.thinking {
  width: auto;
  padding: 0 0.5em;
  /* background-color: var(--light-bottxtbg); */
  background-color: var(--dark-bottxtbg);
  border-radius: 1.3rem;
  border-top-left-radius: 0;
  word-wrap: break-word;
  p {
    font-size: 1.2em;
    font-weight: 600;
    background: linear-gradient(-30deg, #373737, #979797);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 0;
    transition: all 0.5s;
    animation: shine 1s infinite forwards;
    -webkit-text-size-adjust: none;
  }
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 6em;
  }
}

#bottom-scroll {
  position: absolute;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.167);
  bottom: 1em;
  right: 2em;
  color: #060606;
}
#bottom-scroll svg {
  aspect-ratio: 1/1;
  height: 3em;
  width: 3em;
}
path {
  stroke: rgba(255, 255, 255, 0.345);
  stroke-width: 1;
}
/* added css code from old one arru */

.chats {
  padding: 2rem 1rem 10rem;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-color: var(--dark-darktoneshadow) transparent;
  scrollbar-width: thin;
}

.hide {
  display: none !important;
}